@if (users.length > 0) {
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>CORREO</th>
            <th>USUARIO</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <th> {{user.id}} </th>
            <th> {{user.name}} </th>
            <th> {{user.lastname}} </th>
            <th> {{user.email}} </th>
            <th> {{user.username}} </th>
            <th><button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)">Eliminar</button></th>
            <th><button class="btn btn-warning btn-sm" (click)="onEditUserSelected(user)">Editar</button></th>
        </tr>
        }

    </tbody>
</table>
} @else {
<div class="alert alert-warning">No hay usuarios</div>
}